---
import ContainerCenter from "@components/ContainerCenter.astro";
import MyListItemsFooter from "@components/MyListItemsFooter.astro";
import MySocialsMedia from "@components/MySocialsMedia.astro";
import {
  EquipmentDeliveryPolicy,
  productsSections,
  ReturnPolicy,
  supportSection,
} from "@data/dataFooter";
import { ourServices } from "@data/dataOurServices";
import logoServitec from "@assets/videos/logo-servitec-min.mp4";
---

<footer
  class="min-h-screen overflow-y-auto flex justify-center items-center"
  role="contentinfo"
>
  <ContainerCenter>
    <header
      class="flex flex-col items-center laptop:flex-row laptop:justify-between laptop:gap-8 laptop:overflow-y-hidden"
      aria-label="Logo y redes sociales"
    >
      <video
        autoplay
        loop
        muted
        playsinline
        class="w-[8rem] h-[8rem] object-cover"
        aria-label="Logo animado de Servitec"
      >
        <source src={logoServitec} type="video/mp4" />
        <p>
          Tu navegador no soporta videos HTML5. Aquí debería ir el logo de
          Servitec.
        </p>
      </video>
      <div class="laptop:flex items-center">
        <h2
          class="text-center text-black font-semibold mb-2 laptop:mb-0 laptop:mr-4"
        >
          Síguenos:
        </h2>
        <MySocialsMedia classItemImg="w-[1.5rem] h-[1.5rem]" />
      </div>
    </header>

    <nav
      class="border-y border-y-gray-300 my-4 py-4 gap-4 text-center laptop:grid laptop:grid-cols-3 laptop:text-start"
      aria-label="Navegación del sitio"
    >
      <div>
        <h2 class="text-lg font-semibold text-black">Productos</h2>
        <MyListItemsFooter data={productsSections} />
      </div>

      <div>
        <h2 class="text-lg font-semibold text-black">Servicios</h2>
        <MyListItemsFooter data={ourServices} />

        <h2 class="text-lg font-semibold text-black mt-4">Soporte</h2>
        <MyListItemsFooter data={supportSection} />
      </div>

      <div>
        <h2 class="text-lg font-semibold text-black">Política de devolución</h2>
        <MyListItemsFooter data={ReturnPolicy} />

        <h2 class="text-lg font-semibold text-black mt-4">
          Política de entrega
        </h2>
        <MyListItemsFooter data={EquipmentDeliveryPolicy} />
      </div>
    </nav>

    <div
      class="text-center text-gray-500 laptop:flex laptop:justify-between laptop:items-center mt-4"
    >
      <h3>© 2025 Servitec Halachó. Todos los derechos reservados.</h3>
      <h4 class="my-2 laptop:my-0">Desarrollado por: Alexis🧢Chim</h4>
    </div>
  </ContainerCenter>
</footer>
