---
import ButtonLinkWhatsApp from "@components/ButtonLinkWhatsApp.astro";
import ContainerCenter from "@components/ContainerCenter.astro";
import { ourServices } from "@data/dataOurServices";
import { Image } from "astro:assets";
---

<section
  id="OurServices"
  class="min-h-screen flex flex-col justify-center items-center bg-servitec-graySection"
  aria-labelledby="our-services-title"
  role="region"
>
  <ContainerCenter>
    <header class="text-center max-w-5xl mx-auto px-4">
      <h2
        id="our-services-title"
        class="text-4xl font-semibold tracking-tight leading-none laptop:text-6xl"
        data-aos="fade"
      >
        Nuestros servicios tecnológicos
      </h2>
      <p
        class="text-xl text-gray-700 laptop:text-2xl mt-2"
        data-aos="fade"
        aria-describedby="services-subtitle"
      >
        El soporte que necesitas, con la calidad que mereces.
      </p>
    </header>
  </ContainerCenter>

  {
    ourServices.map((service, index) => (
      <article
        id={service.name}
        class="relative w-[90%] flex justify-center items-center mb-12"
        data-aos="fade"
        aria-labelledby={`service-title-${index}`}
      >
        <ContainerCenter
          class="h-full bg-white rounded-2xl flex flex-col items-center justify-center text-center overflow-visible laptop:py-6 gap-4"
          class:list={{
            "laptop:flex-row": index % 2 === 0,
            "laptop:flex-row-reverse": index % 2 !== 0,
          }}
        >
          <figure class="laptop:w-1/2 h-full overflow-visible">
            <Image
              src={service.image}
              alt={`Imagen ilustrativa del servicio: ${service.name}`}
              class="w-full h-full object-cover object-center rounded-xl"
              loading="lazy"
            />
          </figure>

          <div class="laptop:w-1/2 flex flex-col items-center justify-center p-4 text-center">
            <span class="text-xl font-semibold bg-gradient-to-r from-sky-500 via-purple-500 to-orange-500 text-transparent bg-clip-text mt-4">
              {service.subtitle}
            </span>

            <h3
              id={`service-title-${index}`}
              class="text-3xl font-bold laptop:text-5xl mt-2"
            >
              {service.name}
            </h3>

            <p class="text-gray-600 my-4 laptop:text-xl max-w-xl">
              {service.description}
            </p>

            <ButtonLinkWhatsApp
              className="px-8 py-4 text-white font-semibold bg-gradient-to-r from-sky-400 via-indigo-500 to-purple-500 hover:opacity-90 transition-all duration-300 shadow-md"
              message={service.messageService}
              title={service.titleBtnAction}
            />
          </div>
        </ContainerCenter>
      </article>
    ))
  }
</section>
