---
import { Image } from "astro:assets";
import ButtonLinkWhatsApp from "./ButtonLinkWhatsApp.astro";

const { productData } = Astro.props;
const { image, name, oldPrice, price } = productData;
const imageUrl = `https://servitec-halacho.netlify.app${image}`; // URL de la imagen en la carpeta public

  let message = `Hola👋, me gustaría adquirir el siguiente producto: ${name} ${imageUrl}`;

---

<div class="w-96 max-w-sm mx-auto overflow-hidden bg-servitec-graySection rounded-2xl shadow-lg card-product text-center p-0 flex flex-col snap-center flex-shrink-0 hover:cursor-pointer group ">
      <header class="w-full h-[65%] flex-1 aspect-[5/6] flex items-center justify-center p-0">
        <Image
          src={image}
          alt="logo Servitec"
          class="object-cover w-full h-full m-0 p-0 aspect-[5/6] ease-in duration-300 group-hover:scale-105 hover:ease-in"
          loading="lazy"
          style={{
            maskImage: "linear-gradient(to bottom, black 80%, transparent 100%)",
            WebkitMaskImage: "linear-gradient(to bottom, black 80%, transparent 100%)"
          }}
        />
      </header>
      <section class="px-2 pt-2 h-[35%] flex flex-col justify-center items-center gap-3">
        <h2 class="font-bold text-2xl tracking-tight overflow-hidden text-ellipsis whitespace-pre-line line-clamp-3">
            {name}
          </h2>
          <p class="font-semibold text-2xl">
            Por tan solo:{" "}
            <span class="text-servitec-900 text-3xl font-bold">
              ${price.toFixed(2)}
            </span>
          </p>

          <div class="w-16 h-1 bg-gradient-to-r from-gray-200 to-gray-300 rounded-full"></div>

          <ButtonLinkWhatsApp message={message} title="Adquirir" />
        <footer class="my-4">
          <p class="">
            Precio anterior:{" "}
            <span class="line-through text-red-600">
              ${oldPrice.toFixed(2)}
            </span>
          </p>
        </footer>
      </section>
      <div class="absolute top-4 right-4">
        <div class="w-4 h-4 rounded-full bg-blue-700/60"></div>
      </div>
</div>